# General
alias fuck='eval $(thefuck $(fc -ln 0 | tail -n 1)); fc -R'
alias vim='/opt/homebrew/bin/nvim'
alias ll='ls -lh'
alias la='ls -A'
alias lsa='ls -lah'

# Kubectl
alias k='/usr/local/bin/kubectl'
alias ka='/usr/local/bin/kubectl --as admin --as-group sunco-oncall-admin'
alias klp='/usr/local/bin/kubectl logs --previous'
alias kaf='kubectl apply -f'
alias kd='kubectl describe'
alias kdp='kubectl describe pod'
alias kds='kubectl describe service'
alias kdd='kubectl describe deployment'
alias kdel='kubectl delete'
alias kdelf='kubectl delete -f'
alias ke='kubectl edit'
alias kei='kubectl exec -it'
alias kg='kubectl get'
alias kga='kubectl get all'
alias kgp='kubectl get pods'
alias kgpw='kubectl get pods -w'
alias kgd='kubectl get deployments'
alias kgs='kubectl get services'
alias kgn='kubectl get namespaces'
alias kgno='kubectl get nodes'
alias kgi='kubectl get ingress'
alias kgcm='kubectl get configmaps'
alias kgsec='kubectl get secrets'
alias kl='kubectl logs'
alias klf='kubectl logs -f'
alias kpf='kubectl port-forward'
alias krr='kubectl rollout restart'
alias krs='kubectl rollout status'
alias kcuc='kubectl config use-context'
alias kcgc='kubectl config get-contexts'
alias kccc='kubectl config current-context'
alias kcn='kubectl config set-context --current --namespace'

# Git
alias gd='git diff'
alias gdca='git diff --cached'
alias gss='git status -s'
alias grbc='git rebase --continue'
alias grba='git rebase --abort'
alias glog='git log --oneline --decorate --graph'
alias gcp='git cherry-pick'
alias 'gcan!'='git commit -v --all --no-edit --amend'
alias gup='git pull --rebase'

# Claude
alias claude="/Users/datran/.claude/local/claude --model us.anthropic.claude-opus-4-5-20251101-v1:0"
