[user]
    name = dannytranlx
    email = datran@zendesk.com
    signingkey = D522AB6C83E3925D
[alias]
    co = checkout
    amend = commit --amend --no-edit
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[help]
    autocorrect = 1
[push]
    default = simple
[core]
    editor = /opt/homebrew/bin/nvim
    excludesfile = ~/.gitignore
    autocrlf = input
[pull]
    rebase = true
[commit]
    gpgsign = true
[gpg]
    program = /usr/local/MacGPG2/bin/gpg
[credential]
    helper = osxkeychain
[url "git@github.com:"]
    insteadOf = https://github.com/
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
