[user]
    name = dannytranlx
    email = danny@smooch.io
[alias]
    co = checkout
    amend = commit --amend --no-edit
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[help]
    autocorrect = 1
[push]
    default = simple
[core]
    editor = /usr/local/bin/nvim
    excludesfile = ~/.gitignore
    autocrlf = input
[pull]
    rebase = true
